@model ContosoUniversity.Models.ImageUpload
@{
    ViewBag.Title = "UploadPhoto";
}

<h2>UploadPhoto</h2>

<div class="row">
    <div class="large-12 columns">
        <hgroup class="title">
            <h1>Upload Photo</h1>
        </hgroup>
        @*@using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <hr />
                <div class="medium-12 column">
                    <input class="tiny button" type="submit" value="Save" />
                    @Html.ActionLink("Back to List", "Index", null,
                    new { @class = "tiny button" })
                </div>
            </div>
        }
        @if (File.Exists(Server.MapPath("~/Images/"
        + Html.DisplayFor(modelItem => Model.Image))))
        {
            <img alt="" src="~/Images/@Html.DisplayFor(modelItem   => Model.Image)" />
            <form action="/DeletePhoto" method="post" name="deletePhoto">
                @Html.AntiForgeryToken()
                <input type="text" name="photoFileName" value="@Html.DisplayFor(modelItem => Model.Image)" />

                <input class="tiny button" type="submit" value="Delete" />
            </form>
        }
        else
        {*@
        @*<form action="UploadPhoto" enctype="multipart/form-data" method="post">
            <label for="photo"> Upload a Photo: </label>
            <input class="tiny button" id="photo" type="file" name="photo" />
            <input class="tiny button" type="submit" value="Upload" />
            <input type="hidden" name="Image" value="@Html.DisplayFor(modelItem => Model.Image)" />
        </form>*@

        <form action="UploadPhoto" method="post" enctype="multipart/form-data">

            <label for="photo"> Upload Photo:</label>
            <input type="file" name="photo" id="photo" />

            <input type="submit" value="UploadPhoto" />
        </form>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>


